.navbar {
    margin-bottom: 10px;
}

.navbar-brand span {
    font-weight: lighter;
}

.dropdown-menu .notif-time,
.notif-title,
.notif-content {
    display: block;
}

.deletenotif {
    float: right;
    margin-top: -25%;
}

.dropdown-menu .notif-time {
    font-size: 10px;
    color: #e42817;
}

.dropdown-menu .notif-title {
    font-size: 14px;
    color: #000;
}

.dropdown-menu .notif-content {
    font-size: 12px;
    color: #4f4f4f;
    white-space: normal;
}

.panel-heading,
.panel-footer {
    background: none;
    border: none;
}

.panel-heading img {
    float: left;
    margin-right: 5px;
    width: 40px;
}

.panel-heading h4 {
    margin: 0;
    font-weight: bold;
}

.panel-heading h4>span {
    font-size: 70%;
    font-weight: normal;
    color: grey;
}

.panel blockquote {
    padding-left: 0;
    margin-bottom: 0;
    border: none;
}

.panel-footer {
    padding-top: 0;
}

.panel-footer ul {
    -webkit-padding-start: 0px;
}

.Post-action {
    display: inline-block;
}

.Post-action+.Post-action {
    margin-left: 14px;
}

.Post-action:last-child {
    position: relative;
}

.action-link,
.action-link:visited {
    color: #697882;
}

.other-btn:active,
.other-btn:focus,
.other-btn:hover,
.other-btn.active {
    color: #1DA1F2;
    text-decoration: none;
}

.accept-btn:active,
.accept-btn:focus,
.accept-btn:hover,
.accept-btn.active {
    color: #19CF86;
    text-decoration: none;
}

.decline-btn:active,
.decline-btn:focus,
.decline-btn:hover,
.decline-btn.active {
    color: #E81C4F;
    text-decoration: none;
}

.media-body span {
    display: block;
    font-size: 80%;
    color: grey;
}